Source: libtap13
Priority: extra
Maintainer: Julian Maurice <jajm@jajm.org>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.4
Section: libs
Homepage: https://github.com/jajm/libtap13

Package: libtap13-dev
Section: libdevel
Architecture: any
Depends: libtap13 (= ${binary:Version}), ${misc:Depends}
Description: C library to produce TAP13 output (development files)
 libtap13 is a C library that provides a simple API to produce TAP13 output.
 Read more about TAP13 at http://podwiki.hexten.net/TAP/TAP13.html

Package: libtap13
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C library to produce TAP13 output
 libtap13 is a C library that provides a simple API to produce TAP13 output.
 Read more about TAP13 at http://podwiki.hexten.net/TAP/TAP13.html
